{% extends "base.html" %}

{% block content %}
<div class="container">
    <h3>Task-1</h3>
    <h5>Music Subscription App</h5>
    Create a simple online music subscription application using AWS S3 and DynamoDB, and host it in a free-tier EC2 instance.
    
    <div class="card">
        user: {{ user }}
    </div>

    <div class="card">
        users: {{ all_users }}
    </div>

    <div class="card">
        song: {{ song }}
    </div>

    <div class="card">
        songs: {{ all_songs }}
    </div>
</div>
{% endblock %}